/* Make non-bulleted lists able to be indented, specifically for About page */
dl dd {
  margin-left: 1em;
}

/* Custom class to add border to sidebarPanels */
.well {
  position: relative;
  border: 1px solid #98aeb3;
}

/* Special class for providing help to the user */
.conditional-help {
  margin-bottom: 10px;
}

.shiny-notification {
  border: 5px solid #98aeb3;
}
