
/* Change padding around sidebar panels */
/*
.col-sm-4 {
  padding-right: 19px;
  padding-left: 0;
}
*/


/* Removing some padding from around containers */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Reduce padding for the top of jumbotron elements */
.container .jumbotron,
.container-fluid .jumbotron {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Custom class for building sidebar sections, with border */
.well {
  /*border: 2px solid #75818c;*/
  position: relative;
}

/* Remove margin for the tab header */
.tab-header {
  margin-top: 0;
}

/* Adjust padding for the tab header */
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

/* Adjust padding for elements of the navbar */
.navbar,
.tab-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Remove some excess padding from the navbar */
#nav ul {
  padding-left: 0;
}

/* Make non-bulleted lists indented, specifically for the About page */
dl dd {
  margin-left: 1em;
}

/* Adding light version of alert dialog class */
.alert-light {
  color: #2c3e50;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
.alert-light hr {
  border-top-color: #2c3e50;
}
.alert-light .alert-link {
  color: #2c3e50;
}
